#cr {
  color: crimson;
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}

#non {
  background-color:bisque;
  color:rgb(34, 34, 87);
}

#nr {
  background-color:bisque;
  color:rgb(34, 34, 87);
}